<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles de Venta</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Detalles de Venta</h1>
        <div>
            <p>ID: <span th:text="${venta.idVenta}"></span></p>
            <p>Fecha Pedido: <span th:text="${venta.fechaPedido}"></span></p>
            <p>Pedido: <span th:text="${venta.pedido.idPedido}"></span></p>
        </div>
        <a href="/ventas" class="btn btn-secondary">Volver a la lista</a>
    </div>
</body>
</html>
